header {

    width: 100%;
    height: 50rem;

    background: #654ea3;
    background: -webkit-linear-gradient(to right, hsla(335, 59%, 80%, 0.363), #654ea3);
    background: linear-gradient(to right, hsla(335, 58%, 80%, 0.603), #654ea38f), url(https://i.ibb.co/6sz3x15/Pasteleri-a-Gourmet-Presencial-3.png);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;


    .textos-header {
        display: flex;
        height: 450px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 4.5rem;
            color: white;

        }


        h2 {
            font-size: 2rem;
            font-weight: 400;
            color: white;
        }

        &:hover {
            @mixin algo_para_mas_tarde {}

            ;
        }
    }

    .wave {

        position: absolute;
        bottom: 0;
        width: 100%;
    }
}