@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family Arial, Helvetica, sans-serif;
    background: rgb(181, 160, 241)
}


.section-one {

    h2 {

        @include titulos(2.5rem, 2.5rem) // color: $color-texto;
        // font-size: $font-titulos;
        // text-align: center;
        // margin-top: 2.5rem;
        // margin-bottom: 2.5rem;
    }


    .container {

        padding-top: 60px;
        width: $ancho-general;
        margin-top: 10rem;

        .container-nosotros {
            align-items: center;
            align-content: space-around;
            display: flex;
            flex-direction: row;


            .imagen-nosotros {
                width: 40%;
                border-radius: 8px;
                margin: auto;

            }

            .containertextos-nosotros {

                width: 50%;
                align-content: space-around;


                h3 {

                    margin-bottom: 15px;
                    text-align: center;
                    padding: auto;
                    color: $color-texto;

                }

                p {
                    @include textos (1rem, center);
                    text-align: justify;
                    font-family: 'Nunito', sans-serif;
                    font-weight: bolder;

                }

            }

        }
    }



}



.section-two {

    .container {
        width: $ancho-general;
        display: flex;
        flex-direction: column;
        align-items: center;

        .column {
            float: left;
            width: 25%;
            padding: 10px, 10px;
            margin-bottom: 2rem;
            margin-top: 5rem;

        }

        .row {
            margin: 0 -5px;
        }


        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 1rem;
            text-align: center;
            background-color: rgba(203, 154, 224, 0.486);
            border-radius: 1.5625rem;

            &:hover {

                //voy a dejar esto para cuando lo vaya a usar//

                transition: none;
                transform: scale(125%);
                z-index: 100; //para que las cards queden adelante y se superpongan//
                background-color: rgba(203, 154, 224, 0.486) solid;
                ;

            }

            p {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
                color: $color-texto
            }


        }


        h2 {
            @include titulos(5rem, 2rem)
        }


        h3 {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            color: $color-texto;
            text-align: center;

        }

    }
}






.section-three {


    .container {
        align-items: center;
        width: $ancho-general;




        h2 {
            @include titulos(3.5rem, 2rem);
            padding-top: 4rem;
            padding-top: 4rem;
            padding-bottom: 2rem;

            &:hover {
                //voy a dejar esto para cuando lo vaya a usar//
                transition: none;

            }


        }

        h3 {
            margin-bottom: 3rem;
            text-align: center;
            padding: auto;
            color: $color-texto;
            padding-bottom: 2rem;
            font-family: 'Nunito', sans-serif;
        }

        .mapa-de-entrega {
            display: flex;
            justify-content: center;
        }

    }

}





.section-four {

    .container {


        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 60px 0;
        width: $ancho-general;





        h2 {
            @include titulos(0, 4rem); // color: $color-texto;
            // font-size: $font-titulos;
            // text-align: center;
            // margin-bottom: 4rem;

            &:hover {
                //voy a dejar esto para cuando lo vaya a usar//
                transition: none;
            }

        }


    }
}