@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap');

$color-texto: #642a73;
$font-family: "open sans";
$font-size: 18px;
$font-titulos: 50px;

$fuente: ("normal": 400,
    "media":500,
    "negrita": 700);